.portfolio-section{
    width: 70%;
    margin: 0 auto;

    .card{
        transition: 3s;
        border: none;
        border-radius: 5px;
        overflow: hidden;

        &:hover img{
            transform: scale(1.2);  
            object-fit: cover;
        }
        img{
            width: 100%; 
            object-fit: cover;
            transition: all .5s ease-in-out;
        } 
        .card-body{
            color: $text_color;
            background-color: $secondary_color;
        }
    }
}
 