$body_color: #1f2937;
$body_transparent_color: #1f2937bd;
$primary_color:  #6645EB;
$secondary_color: #2D4059;
$nav_color: rgba(0,0,0,0.3);
$carousel_transparent_color: linear-gradient(#2d4059b7,#2d4059e3);
$card_footer_color: #34465c;
$text_color: #fff;